<section class="resume-section experience-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3
        mb-3">EXPERIENCIA PROFESIONAL</h2>
    <div class="resume-section-content">
        <div class="resume-timeline position-relative">
            <article class="resume-timeline-item position-relative pb-5">
                <div class="resume-timeline-item-header mb-2">
                    <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold
                            mb-1">Center
                            Developer</h3>
                        <div class="resume-company-name ml-auto"><a
                                href="https://www.linkedin.com/company/everis-peru/"
                                target="_blank">Everis Perú</a></div>
                    </div><!--//row-->
                    <div class="resume-position-time">2018 - Actualidad</div>
                </div><!--//resume-timeline-item-header-->
                <div class="resume-timeline-item-desc">
                    <p>Organizar el equipo mediante metodología ágil Scrum,
                        además de
                        programar y ejecutar pruebas unitarias. Cliente
                        Repsol
                        España</p>
                    <h4 class="resume-timeline-item-desc-heading
                        font-weight-bold">Logros:</h4>
                    <ul>
                        <li>Coordinador y programador de proyecto API.</li>
                        <li>Programador para el proyecto de migración
                            Hubble.</li>
                        <li>Soporte para la aplicación TPV.</li>
                    </ul>
                    <h4 class="resume-timeline-item-desc-heading
                        font-weight-bold">Tecnologías:</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">Angular 4</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">Node.js</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">ASP.NET Web Forms</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">ASP</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">JavaScript</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">SQL Server</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">Reporting Services (SSRS)</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">C#</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">Entity Framework</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">Unit Testing</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">Git</span></li>
                    </ul>
                </div><!--//resume-timeline-item-desc-->

            </article><!--//resume-timeline-item-->

            <article class="resume-timeline-item position-relative pb-5">
                <div class="resume-timeline-item-header mb-2">
                    <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold
                            mb-1">Center
                            Junior Developer</h3>
                        <div class="resume-company-name ml-auto"><a
                                href="https://www.linkedin.com/company/everis-peru/"
                                target="_blank">Everis Perú</a></div>
                    </div><!--//row-->
                    <div class="resume-position-time">2017 - 2018</div>
                </div><!--//resume-timeline-item-header-->
                <div class="resume-timeline-item-desc">
                    <p>Analista programador, soporte y despliegue en
                        aplicaciones web y
                        desktop. Cliente BCP.</p>
                    <h4 class="resume-timeline-item-desc-heading
                        font-weight-bold">Tecnologías:</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">ASP.NET Web Forms</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">ASP.NET MVC</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">JavaScript</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">Jquery</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">Boostrap</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">SQL Server</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">Integration Services (SSIS)</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">Reporting Services (SSRS)</span></li>
                        <li class="list-inline-item"><span class="badge
                                badge-primary
                                badge-pill">C#</span></li>
                    </ul>
                </div><!--//resume-timeline-item-desc-->

            </article><!--//resume-timeline-item-->
        </div><!--//resume-timeline-->
    </div>
</section>