<section class="resume-section experience-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3
        mb-3">EXPERIENCIA PROFESIONAL</h2>
    <div class="resume-section-content">
        <div class="resume-timeline position-relative" *ngFor="let experience of
            experiecenArray">
            <article class="resume-timeline-item position-relative pb-5">
                <div class="resume-timeline-item-header mb-2">
                    <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold
                            mb-1">{{experience.position}}</h3>
                        <div class="resume-company-name ml-auto"><a
                                href="https://www.linkedin.com/company/everis-peru/"
                                target="_blank">{{experience.company}}</a></div>
                    </div>
                    <div class="resume-position-time">
                        {{experience.startDate | date: 'yyyy'}} - <span
                            *ngIf="experience.present; else endDate">Actualidad</span>
                        <ng-template #endDate>
                            {{experience.endDate | date:'yyyy'}}</ng-template>
                    </div>
                </div>
                <div class="resume-timeline-item-desc">
                    <p>{{experience.description}}</p>
                    <ng-container *ngFor="let section of
                        experience.experienceSection">
                        <h4 class="resume-timeline-item-desc-heading
                            font-weight-bold">{{section.name}}:</h4>
                        <ul [ngClass]="{'list-inline': section.isTag()}">
                            <ng-container *ngFor="let item of section.items">
                                <li *ngIf="section.isList(); else elseSpan">{{item.name}}</li>
                                <ng-template #elseSpan>
                                    <li class="list-inline-item">
                                        <span class="badge badge-primary
                                            badge-pill">{{item.name}}</span>
                                    </li>
                                </ng-template>
                            </ng-container>
                        </ul>
                    </ng-container>
                </div>
            </article>
        </div>
    </div>
</section>